/*Import FontAwesome */
@import url("font-awesome.min.css");
@font-face{font-family:'RockoFLFBold';src:url('./font/rockoflf-bold-webfont.eot');src:url('./font/rockoflf-bold-webfont.eot?#iefix') format('embedded-opentype'),url('./font/rockoflf-bold-webfont.woff') format('woff'),url('./font/rockoflf-bold-webfont.ttf') format('truetype'),url('./fonts/rockoflf-bold-webfont.svg#RockoFLFBold') format('svg');font-weight:normal;font-style:normal}

.white{color: #fff;}
.big {font-size:30px;}
.small {font-size:12px;}
.soft {
   list-style-type: none;
   color: gray;
   font-family: 'Asap', sans-serif;
   letter-spacing:0px;
   font-size:12px;
   font-weight: 200;
}

#header{
  background-color: #f0f6f5;
  color: #4b2e4c;
  font-family: 'RockoFLFBold', sans-serif;
  height:6.5em;
  line-height: 6em;
  border-radius: 6px;
  vertical-align:middle;
  text-align:left;
  text-size:2em !important;
}

#footer{
  color: #4d8c8b;
  font-size: 16px;
  margin-top: 2em;
  padding: 1em 0;
  height: 100px;
  background: -webkit-gradient(linear,left top,left bottom,from(#e9f0f0),to(#fff));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(233, 240, 240)), to(rgb(255, 255, 255)));
  background: -moz-linear-gradient(top,#e9f0f0,#fff);
}

.tumblr {
        list-style: none;
        max-width: 100%;
        margin-bottom: 1em;
        padding: 0;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
}
.tumblr li {
        margin-bottom: 1em;
}
.tumblr p {
        margin: 0;
}
.tumblr img {
        display: none;
        max-width: 100%;
        max-height: 100%;
}
.tumblr em {
        display: block;
        margin-top: 0.2em;
}
.tumblr .tumblr-post-date{
        font-size: 0.9em;
        margin-top: 0.5em;
        float: right;
}
.tumblr .tumblr-title{
        text-align: left;
}